In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],'C': [1, 2, 3]})

In [3]:
df

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [4]:
pd.get_dummies(df)

   C  A_a  A_b  B_a  B_b  B_c
0  1    1    0    0    1    0
1  2    0    1    1    0    0
2  3    1    0    0    0    1